<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Logo -->
    <link href="static/images/logo.ico" rel="shortcut icon">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Static CSS -->
    <link href="static/css/formcss.css" rel="stylesheet"/>

    <title>Разработка Telegram-ботов под ключ</title>
  </head>
  <body>
    <div class="bodyposle">
      <h1 class="neon-text">Ваша заявка принята!</h1>
      <a href="https://tg-tech.ru">Вернуться на главную страницу</a>
    </div>
  </body>
</html>