<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="разработка чат ботов, разработка чат ботов telegram, чатбот, заказать разработку чат бота">

    <!-- Logo -->
    <link href="static/images/logo.ico" rel="shortcut icon">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Static CSS -->
    <link href="static/css/maincss.css" rel="stylesheet"/>

    <!-- <script type="text/javascript" src="/eel/eel.js"></script> -->

    <title>Разработка Telegram-ботов под ключ</title>
  </head>
  <body>
    <span class="zastavka"><img src="static/images/zastavka.jpg"></span>
    <h1 class="logotype-text">TG-Tech</h1>
    <h1 class="zastavka-text">Разработка Telegram-ботов под ключ</h1>
    <div class="bodyposlezastavki">

      <a type='button' href='#form' class="book-chatbot">Заказать чат-бота</a>

      <div class="upper">
        <a type='button' href="#chatbot" class='chatbots-upper neon-text'>Чат-боты</a>
        <a type='button' href="#solutions" class="for-business-upper neon-text">Для бизнеса</a>
        <a type='button' href="#solutions-mini" class="for-business-mini-upper neon-text">Для бизнеса</a>
        <a type='button' href="https://tg-tech.ru/cases.html" class="cases-upper neon-text">Кейсы</a>
      </div>

      <div class="cardBox">
        <div class="container">
          <img src="static/images/gears2.png">
          <h2 class="neon-text">Мы автоматизируем Ваши задачи, увеличим объёмы продаж и поможем держать общение с клиентами под контролем.</h2>
        </div>
        <div class="container">
          <img src="static/images/parameters2.png">
          <h2 class="neon-text">При помощи грамотно настроенного бота Telegram Вы сможете решить различные задачи и получить желаемый результат.</h2>
        </div>
        <div class="container">
          <img src="static/images/filter2.png">
          <h2 class="neon-text">Запускайте автоматические воронки и рассылки, прикладывая к этому минимальные усилия.</h2>
        </div>
        <h1 class='zagolovok'>TG-Tech</h1>
      </div>

      <div class="tg">
        <img src="static/images/tg.jpg">
        <h1 class="neon-text">Почему Telegram?</h1>
        <div class="container-tg tg1">
          <div class="iconBox">
            <i class="fas fa-clock"></i>
          </div>
          <h2 class="neon-text title-tg-container">48&nbsp;минут</h2>
          <h2 class="neon-text text-tg-container">Проводят пользователи в Telegram в течение дня</h2>
        </div>
        <div class="container-tg tg2">
          <div class="iconBox">
            <i class="fas fa-envelope"></i>
          </div>
          <h2 class="neon-text title-tg-container">1+&nbsp;МЛРД</h2>
          <h2 class="neon-text text-tg-container">Сообщений отправляется в Telegram ежедневно</h2>
        </div>
        <div class="container-tg tg3">
          <div class="iconBox">
            <i class="fas fa-users"></i>
          </div>
          <h2 class="neon-text title-tg-container">35+&nbsp;млн</h2>
          <h2 class="neon-text text-tg-container">Пользователей Telegram на территории РФ и стран СНГ</h2>
        </div>
        <div class="container-tg tg4">
          <div class="iconBox">
            <i class="fas fa-chart-line"></i>
          </div>
          <h2 class="neon-text title-tg-container">+30%</h2>
          <h2 class="neon-text text-tg-container">Средний рост конверсии после введения чат-бота</h2>
        </div>
      </div>

      <h1 class="neon-text" id='chatbot'>Что такое чат-бот?</h1>
      <div class='chatbot neon-text'>
        <div class="chatbot-container">
          <i class="fas fa-comment-dots"></i>
          <h2><i>Это онлайн-консультант, который моментально заменит сотрудника поддержки, менеджера по продажам и администратора.</i></h2>
        </div>
        <div class="chatbot-container">
          <i class="fas fa-check"></i>
          <h2><i>Грамотно настроенная программа отлично справляется с поставленными перед ней задачами.</i></h2>
        </div>
        <div class="chatbot-container">
          <i class="fas fa-paper-plane"></i>
          <h2><i>В чат-бот можно попасть прямо с официального сайта при помощи кнопки перехода в мессенджер. Последний вариант, к слову, считается более эффективным.</i></h2>
        </div>
        <div class="chatbot-container">
          <i class="fas fa-pencil"></i>
          <h2><i>Диалог с потенциальным покупателем поддерживается в комфортном для него формате: через текстовые команды.</i></h2>
        </div>
        <div class="chatbot-container">
          <i class="fas fa-clock"></i>
          <h2><i>Чат-бот работает в круглосуточном режиме и без выходных. Он имитирует живое общение с консультантом.</i></h2>
        </div>
        <div class="chatbot-container">
          <i class="fas fa-star"></i>
          <h2><i>Вы экономите бюджет, а клиент получает качественный сервис.</i></h2>
        </div>
      </div>

      <div class="solutions-mini" id='solutions-mini'>
        <h1 class="neon-text">Готовые решения</h1>
        <div class="services-mini passive-mini">
          <a type="button" class="services-b-mini neon-text"><i class="fas fa-handshake"></i>&nbsp;&nbsp;Бот для сферы услуг&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
          <ul class="neon-text">
            <li>Повышение продаж</li>
            <li>Запись на услуги онлайн</li>
            <li>Сегментация покупателей по группам, составление аналитики</li>
            <li>Интеграция с CRM и платежными системами</li>
            <li>Программа лояльности, выдача виртуальных карт для посетителей, скидки и реферальная система с помощью QR-кода</li>
            <li>Мгновенный ответ на часто задаваемые вопросы</li>
          </ul>
        </div>
        <div class="real-estate-mini passive-mini">
          <a type="button" class="real-estate-b-mini neon-text"><i class="fas fa-house"></i>&nbsp;&nbsp;Бот для недвижимости&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
          <ul class="neon-text">
            <li>Подбор риелтора онлайн</li>
            <li>Каталог объектов прямо в боте</li>
            <li>Сегментация по группам, составление аналитики</li>
            <li>Полезные рассылки и информирование (новости/предложения/советы/акции/поздравления)</li>
            <li>Мгновенный ответ на часто задаваемые вопросы</li>
            <li>Прокладывание маршрута онлайн</li>
          </ul>
        </div>
        <div class="business-tg-mini passive-mini">
          <a type="button" class="business-tg-b-mini neon-text"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Бот для бизнеса в Telegram&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
          <ul class="neon-text">
            <li>Монетизирует чат</li>
            <li>Следит за оплатой</li>
            <li>Вежливое общение</li>
            <li>Полезные рассылки и информирование</li>
            <li>Сегментация по группам, составление статистики</li>
            <li>Отвечает на часто задаваемые вопросы</li>
          </ul>
        </div>
        <div class="online-business-mini passive-mini">
          <a type="button" class="online-business-b-mini neon-text"><i class="fas fa-globe"></i>&nbsp;&nbsp;Бот для онлайн бизнеса&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
          <ul class="neon-text">
            <li>Опросы и квизы</li>
            <li>Ответы на вопросы</li>
            <li>Сегментация по группам, составление статистики</li>
            <li>Полезные рассылки и информирование</li>
            <li>Программа лояльности, выдача виртуальных карт для клиентов, скидки и реферальная система с помощью QR-кода</li>
            <li>Интеграция с платежными системами</li>
          </ul>
        </div>
        <div class="hotel-mini passive-mini">
          <a type="button" class="hotel-b-mini neon-text"><i class="fas fa-hotel"></i>&nbsp;&nbsp;Бот для гостиничного бизнеса&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
          <ul class="neon-text">
            <li>Повышение продаж</li>
            <li>Интеграция с платежными системами</li>
            <li>Бронирование онлайн</li>
            <li>Интеграция с CRM</li>
            <li>Возможность проложить маршрут</li>
            <li>Сегментация по группам, составление статистики</li>
          </ul>
        </div>
        <div class="retail-mini passive-mini">
          <a type="button" class="retail-b-mini neon-text"><i class="fas fa-shirt"></i>&nbsp;&nbsp;Бот для ритейла&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
          <ul class="neon-text">
            <li>Онлайн корзина</li>
            <li>Оплата онлайн</li>
            <li>Оформление доставки</li>
            <li>Программа лояльности, выдача виртуальных карт для клиентов, скидки и реферальная система с помощью QR-кода</li>
            <li>Возможность проложить маршрут</li>
            <li>Сегментация по группам, составление статистики</li>
          </ul>
        </div>
      </div>

      <div class="solutions" id='solutions'>
        <h1 class="neon-text">Готовые решения</h1>
        <div class="solutions-buttons">
          <a type="button" class="services-b active-b neon-text"><i class="fas fa-handshake"></i>&nbsp;&nbsp;Бот для сферы услуг</a>
          <a type="button" class="real-estate-b neon-text"><i class="fas fa-house"></i>&nbsp;&nbsp;Бот для недвижимости</a>
          <a type="button" class="business-tg-b neon-text"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Бот для бизнеса в Telegram</a>
          <a type="button" class="online-business-b neon-text"><i class="fas fa-globe"></i>&nbsp;&nbsp;Бот для онлайн бизнеса</a>
          <a type="button" class="hotel-b neon-text"><i class="fas fa-hotel"></i>&nbsp;&nbsp;Бот для гостиничного бизнеса</a>
          <a type="button" class="retail-b neon-text"><i class="fas fa-shirt"></i>&nbsp;&nbsp;Бот для ритейла</a>
        </div>
        <div class="services active">
          <ul>
            <li>Повышение продаж</li>
            <li>Запись на услуги онлайн</li>
            <li>Сегментация покупателей по группам, составление аналитики</li>
            <li>Интеграция с CRM и платежными системами</li>
            <li>Программа лояльности, выдача виртуальных карт для посетителей, скидки и реферальная система с помощью QR-кода</li>
            <li>Мгновенный ответ на часто задаваемые вопросы</li>
          </ul>
        </div>
        <div class="real-estate passive">
          <ul>
            <li>Подбор риелтора онлайн</li>
            <li>Каталог объектов прямо в боте</li>
            <li>Сегментация по группам, составление аналитики</li>
            <li>Полезные рассылки и информирование (новости/предложения/советы/акции/поздравления)</li>
            <li>Мгновенный ответ на часто задаваемые вопросы</li>
            <li>Прокладывание маршрута онлайн</li>
          </ul>
        </div>
        <div class="business-tg passive">
          <ul>
            <li>Монетизирует чат</li>
            <li>Следит за оплатой</li>
            <li>Вежливое общение</li>
            <li>Полезные рассылки и информирование</li>
            <li>Сегментация по группам, составление статистики</li>
            <li>Отвечает на часто задаваемые вопросы</li>
          </ul>
        </div>
        <div class="online-business passive">
          <ul>
            <li>Опросы и квизы</li>
            <li>Ответы на вопросы</li>
            <li>Сегментация по группам, составление статистики</li>
            <li>Полезные рассылки и информирование</li>
            <li>Программа лояльности, выдача виртуальных карт для клиентов, скидки и реферальная система с помощью QR-кода</li>
            <li>Интеграция с платежными системами</li>
          </ul>
        </div>
        <div class="hotel passive">
          <ul>
            <li>Повышение продаж</li>
            <li>Интеграция с платежными системами</li>
            <li>Бронирование онлайн</li>
            <li>Интеграция с CRM</li>
            <li>Возможность проложить маршрут</li>
            <li>Сегментация по группам, составление статистики</li>
          </ul>
        </div>
        <div class="retail passive">
          <ul>
            <li>Онлайн корзина</li>
            <li>Оплата онлайн</li>
            <li>Оформление доставки</li>
            <li>Программа лояльности, выдача виртуальных карт для клиентов, скидки и реферальная система с помощью QR-кода</li>
            <li>Возможность проложить маршрут</li>
            <li>Сегментация по группам, составление статистики</li>
          </ul>
        </div>
      </div>

      <div class="opportunities">
        <h1 class="neon-text">Возможности чат-бота Telegram</h1>
        <div class="opportunitiesBox neon-text">
          <div class="opportunities-container">
            <div class='opportunities-container-flex'>
              <i class="fas fa-chart-simple"></i>
              <h2 class='opportunities-container-title'><b>Проводит опросы</b></h2>
            </div>
            <h2 class='opportunities-container-text'><i>Вы сможете получить заветную информацию от клиентов, чтобы улучшить сервис и повысить продажи, за пару минут.</i></h2>
          </div>
          <div class="opportunities-container">
            <div class='opportunities-container-flex'>
              <i class="fas fa-wallet"></i>
              <h2 class='opportunities-container-title'><b>Интегрируется с платежными системами</b></h2>
            </div>
            <h2 class='opportunities-container-text'><i>Вы больше не будете упускать прибыль из-за длительной обработки запросов. Пользователь совершит оплату, как только захочет сделать это.</i></h2>
          </div>
          <div class="opportunities-container">
            <div class='opportunities-container-flex'>
              <i class="fas fa-filter"></i>
              <h2 class='opportunities-container-title'><b>Запускает автоворонки и рассылает информацию</b></h2>
            </div>
            <h2 class='opportunities-container-text'><i>Вы сможете узнать все о потребностях своей целевой аудитории и извлечь из этого максимальную прибыль.</i></h2>
          </div>
          <div class="opportunities-container">
            <div class='opportunities-container-flex'>
              <i class="fas fa-ticket"></i>
              <h2 class='opportunities-container-title'><b>Производит онлайн запись и бронирование</b></h2>
            </div>
            <h2 class='opportunities-container-text'><i>Разгрузите администратора и сотрудников фирмы, предоставив им больше времени на решение важных вопросов</i></h2>
          </div>
          <div class="opportunities-container">
            <div class='opportunities-container-flex'>
              <i class="fas fa-pencil"></i>
              <h2 class='opportunities-container-title'><b>Проводит пошаговое обучение</b></h2>
            </div>
            <h2 class='opportunities-container-text'><i>Пользователь всегда сможет обратиться за поддержкой и моментально получить качественную консультацию.</i></h2>
          </div>
          <div class="opportunities-container">
            <div class='opportunities-container-flex'>
              <i class="fas fa-magnifying-glass"></i>
              <h2 class='opportunities-container-title'><b>Осуществляет поиск информации в интернете</b></h2>
            </div>
            <h2 class='opportunities-container-text'><i>Освободите время для решения более важных и ответственных задач. Простейшую работу сделает за вас чат-бот Telegram.</i></h2>
          </div>
        </div>
      </div>

      <div class="how-we-work neon-text">
        <h1>Как мы работаем?</h1>
        <div class="how-we-work-text1">
          <div class="how-we-work-text-flex">
            <i class="fas fa-magnifying-glass"></i>
            <h2 class="title">Изучение</h2>
          </div>
          <h2 class="text"><i>Бесплатная консультация и анализ вашей ситуации (изучения конкретного бизнеса, возможных конкурентов, поиска особенностей, которые помогут выделиться на общем фоне).</i></h2>
        </div>
        <div class="how-we-work-text2">
          <div class="how-we-work-text-flex">
            <i class="fas fa-pencil"></i>
            <h2 class="title">Прототип</h2>
          </div>
          <h2 class="text"><i>Перед тем как создать бота, осуществляется подготовка его будущего прототипа (проектирования работы бота, определения функциональных возможностей, создания сценариев для дальнейшей работы, подготовки макета).</i></h2>
        </div>
        <div class="how-we-work-text3">
          <div class="how-we-work-text-flex">
            <i class="fas fa-gears"></i>
            <h2 class="title">Разработка</h2>
          </div>
          <h2 class="text"><i>Непосредственное создания бота (описания его полного функционала, тестирования программы, согласования полученного результата с заказчиком).</i></h2>
        </div>
        <div class="how-we-work-text4">
          <div class="how-we-work-text-flex">
            <i class="fas fa-circle-play"></i>
            <h2 class="title">Запуск</h2>
          </div>
          <h2 class="text"><i>Запуск чат-бота после завершения подготовительных операций с дальнейшей интеграцией сервиса в действующий проект заказчика с подробным тестированием и возможными доработками функционала.</i></h2>
        </div>
      </div>

      <div class="clients neon-text">
        <h1>Клиенты</h1>
        <div class="clients-images">
          <img class="clients-img1" src="static/images/miratorg.png">
          <img class="clients-img2" src="static/images/happypc.png">
          <img class="clients-img3" src="static/images/alibaba.png">
          <img class="clients-img4" src="static/images/posylochka.png">
          <img class="clients-img5" src="static/images/dodo.png">
        </div>
      </div>

      <div class="faq neon-text">
        <h1>FAQ</h1>
        <div class="faq-block">
          <div class="faq-question">
            <div class="faq-flex-1">
              <a type='button' class="question1" aria-expanded="false" aria-controls="answer1">Почему Telegram?</a>
              <i class="plus1 plus-passive fas fa-plus"></i>
            </div>
            <h2 class="answer1 answer-passive"><i>Мы выбрали Telegram как самый быстроразвивающийся мессенджер. Он уверенно сохраняет позицию самого популярного мессенджера в мире, ведущего борьбу за конфиденциальность информации пользователей. В отличие от прочих сервисов, Вы не платите за каждый запрос, поступающий боту в телеграмм. Платформа обладает гибким функционалом, что позволяет идти в ногу со временем и удовлетворять любые запросы клиентов.</i></h2>
          </div>
          <div class="faq-question">
            <div class="faq-flex-2">
              <a type='button' class="question2" aria-expanded="false" aria-controls="answer2">На каком средстве разработки спроектирован бот?</a>
              <i class="plus2 plus-passive fas fa-plus"></i>
            </div>
            <h2 class="answer2 answer-passive"><i>Мы используем язык программирования Python. Он считается одним из наиболее распространенных благодаря удобству использования и широким функциональным возможностям.</i></h2>
          </div>
          <div class="faq-question">
            <div class="faq-flex-3">
              <a type='button' class="question3" aria-expanded="false" aria-controls="answer3">Сколько времени уходит на создание чат-бота?</a>
              <i class="plus3 plus-passive fas fa-plus"></i>
            </div>
            <h2 class="answer3 answer-passive"><i>От 7 дней в зависимости от сложности задачи, поставленной заказчиком. Сроки выполнения заказа обсуждаются в индивидуальном порядке.</i></h2>
          </div>
          <div class="faq-question">
            <div class="faq-flex-4">
              <a type='button' class="question4" aria-expanded="false" aria-controls="answer4">Возможно ли в будущем расширить функционал?</a>
              <i class="plus4 plus-passive fas fa-plus"></i>
            </div>
            <h2 class="answer4 answer-passive"><i>Это возможно. Мы готовы оперативно доработать чат-бот с учетом изменяющихся потребностей заказчика.</i></h2>
          </div>
        </div>
      </div>

      <div class="box" id='form'>
        <form action='form.php' method="POST" autocomplete="off" novalidate>
          <h2 class="neon-text">Заполните форму, и мы свяжемся с Вами в ближайшее время</h2>
          <div class="inputBox">
            <input type="text" id='username' name='username' required>
            <span>Имя</span>
            <!-- <span class="error">* <?php echo $textErr;?></span> -->
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" id='phone_number' name='phone_number' required>
            <span>Телефон</span>
            <!-- <span class="error">* <?php echo $phoneErr;?></span> -->
            <i></i>
          </div>
          <div class="inputBox">
            <input id='email' name='email' required>
            <span>Электронная почта</span>
            <!-- <span class="error">* <?php echo $emailErr;?></span> -->
            <i></i>
          </div>
          <input name='submitButton' type="submit" value="Подать заявку">
        </form>
      </div>

      <div class="form-text-nearby neon-text">
        <h2 class="form-title">Готовы пообщаться?</h2>
        <h2 class="form-text1">Закажите разработку собственного бота и запустите автоматизацию бизнес-процессов прямо сейчас!</h2>
        <h2 class="form-text2">Бот увеличит продажи, сократит затраты на менеджеров и возглавит поддержку Ваших клиентов в Telegram.</h2>
      </div>

      <div class="footer">
        <p class="logo-footer neon-text">© TG-Tech, 2020</p>
        <a type='button' href="https://tg-tech.ru/oferta.html" class='oferta neon-text'>Публичная оферта</a>
        <a type='button' href="#solutions" class="for-business-footer neon-text">Для бизнеса</a>
        <a type='button' href="#solutions-mini" class="for-business-mini-footer neon-text">Для бизнеса</a>
        <a type='button' href="https://tg-tech.ru/cases.html" class="cases-footer neon-text">Кейсы</a>
      </div>

    </div>

    <script>

      let services = document.querySelector('.services');
      let services_b = document.querySelector('.services-b');
      let real_estate = document.querySelector('.real-estate');
      let real_estate_b = document.querySelector('.real-estate-b');
      let business_tg = document.querySelector('.business-tg');
      let business_tg_b = document.querySelector('.business-tg-b');
      let online_business = document.querySelector('.online-business');
      let online_business_b = document.querySelector('.online-business-b');
      let hotel = document.querySelector('.hotel');
      let hotel_b = document.querySelector('.hotel-b');
      let retail = document.querySelector('.retail');
      let retail_b = document.querySelector('.retail-b');

      services_b.onclick = function(){
        services.classList.remove('passive');
        services.classList.add('active');
        services_b.classList.add('active-b');
        real_estate.classList.remove('active');
        real_estate.classList.add('passive');
        real_estate_b.classList.remove('active-b');
        business_tg.classList.remove('active');
        business_tg.classList.add('passive');
        business_tg_b.classList.remove('active-b');
        online_business.classList.remove('active');
        online_business.classList.add('passive');
        online_business_b.classList.remove('active-b');
        hotel.classList.remove('active');
        hotel.classList.add('passive');
        hotel_b.classList.remove('active-b');
        retail.classList.remove('active');
        retail.classList.add('passive');
        retail_b.classList.remove('active-b');
      }

      real_estate_b.onclick = function(){
        services.classList.remove('active');
        services.classList.add('passive');
        services_b.classList.remove('active-b');
        real_estate.classList.add('active');
        real_estate.classList.remove('passive');
        real_estate_b.classList.add('active-b');
        business_tg.classList.remove('active');
        business_tg.classList.add('passive');
        business_tg_b.classList.remove('active-b');
        online_business.classList.remove('active');
        online_business.classList.add('passive');
        online_business_b.classList.remove('active-b');
        hotel.classList.remove('active');
        hotel.classList.add('passive');
        hotel_b.classList.remove('active-b');
        retail.classList.remove('active');
        retail.classList.add('passive');
        retail_b.classList.remove('active-b');
      }

      business_tg_b.onclick = function(){
        services.classList.remove('active');
        services.classList.add('passive');
        services_b.classList.remove('active-b');
        real_estate.classList.remove('active');
        real_estate.classList.add('passive');
        real_estate_b.classList.remove('active-b');
        business_tg.classList.add('active');
        business_tg.classList.remove('passive');
        business_tg_b.classList.add('active-b');
        online_business.classList.remove('active');
        online_business.classList.add('passive');
        online_business_b.classList.remove('active-b');
        hotel.classList.remove('active');
        hotel.classList.add('passive');
        hotel_b.classList.remove('active-b');
        retail.classList.remove('active');
        retail.classList.add('passive');
        retail_b.classList.remove('active-b');
      }

      online_business_b.onclick = function(){
        services.classList.remove('active');
        services.classList.add('passive');
        services_b.classList.remove('active-b');
        real_estate.classList.remove('active');
        real_estate.classList.add('passive');
        real_estate_b.classList.remove('active-b');
        business_tg.classList.remove('active');
        business_tg.classList.add('passive');
        business_tg_b.classList.remove('active-b');
        online_business.classList.add('active');
        online_business.classList.remove('passive');
        online_business_b.classList.add('active-b');
        hotel.classList.remove('active');
        hotel.classList.add('passive');
        hotel_b.classList.remove('active-b');
        retail.classList.remove('active');
        retail.classList.add('passive');
        retail_b.classList.remove('active-b');
      }

      hotel_b.onclick = function(){
        services.classList.remove('active');
        services.classList.add('passive');
        services_b.classList.remove('active-b');
        real_estate.classList.remove('active');
        real_estate.classList.add('passive');
        real_estate_b.classList.remove('active-b');
        business_tg.classList.remove('active');
        business_tg.classList.add('passive');
        business_tg_b.classList.remove('active-b');
        online_business.classList.remove('active');
        online_business.classList.add('passive');
        online_business_b.classList.remove('active-b');
        hotel.classList.add('active');
        hotel.classList.remove('passive');
        hotel_b.classList.add('active-b');
        retail.classList.remove('active');
        retail.classList.add('passive');
        retail_b.classList.remove('active-b');
      }

      retail_b.onclick = function(){
        services.classList.remove('active');
        services.classList.add('passive');
        services_b.classList.remove('active-b');
        real_estate.classList.remove('active');
        real_estate.classList.add('passive');
        real_estate_b.classList.remove('active-b');
        business_tg.classList.remove('active');
        business_tg.classList.add('passive');
        business_tg_b.classList.remove('active-b');
        online_business.classList.remove('active');
        online_business.classList.add('passive');
        online_business_b.classList.remove('active-b');
        hotel.classList.remove('active');
        hotel.classList.add('passive');
        hotel_b.classList.remove('active-b');
        retail.classList.add('active');
        retail.classList.remove('passive');
        retail_b.classList.add('active-b');
      }

    </script>

    <script>

      let services_mini = document.querySelector('.services-mini');
      let services_b_mini = document.querySelector('.services-b-mini');
      let real_estate_mini = document.querySelector('.real-estate-mini');
      let real_estate_b_mini = document.querySelector('.real-estate-b-mini');
      let business_tg_mini = document.querySelector('.business-tg-mini');
      let business_tg_b_mini = document.querySelector('.business-tg-b-mini');
      let online_business_mini = document.querySelector('.online-business-mini');
      let online_business_b_mini = document.querySelector('.online-business-b-mini');
      let hotel_mini = document.querySelector('.hotel-mini');
      let hotel_b_mini = document.querySelector('.hotel-b-mini');
      let retail_mini = document.querySelector('.retail-mini');
      let retail_b_mini = document.querySelector('.retail-b-mini');

      services_b_mini.onclick = function(){
        services_mini.classList.toggle('passive-mini');
        services_mini.classList.toggle('active-mini');
        services_b_mini.classList.toggle('active-b-mini');
      }

      real_estate_b_mini.onclick = function(){
        real_estate_mini.classList.toggle('active_mini');
        real_estate_mini.classList.toggle('passive-mini');
        real_estate_b_mini.classList.toggle('active-b-mini');
      }

      business_tg_b_mini.onclick = function(){
        business_tg_mini.classList.toggle('active-mini');
        business_tg_mini.classList.toggle('passive-mini');
        business_tg_b_mini.classList.toggle('active-b-mini');
      }

      online_business_b_mini.onclick = function(){
        online_business_mini.classList.toggle('active-mini');
        online_business_mini.classList.toggle('passive-mini');
        online_business_b_mini.classList.toggle('active-b-mini');
      }

      hotel_b_mini.onclick = function(){
        hotel_mini.classList.toggle('active-mini');
        hotel_mini.classList.toggle('passive-mini');
        hotel_b_mini.classList.toggle('active-b-mini');
      }

      retail_b_mini.onclick = function(){
        retail_mini.classList.toggle('active-mini');
        retail_mini.classList.toggle('passive-mini');
        retail_b_mini.classList.toggle('active-b-mini');
      }

    </script>

    <script>

      let faq_flex_1 = document.querySelector('.faq-flex-1');
      let faq_flex_2 = document.querySelector('.faq-flex-2');
      let faq_flex_3 = document.querySelector('.faq-flex-3');
      let faq_flex_4 = document.querySelector('.faq-flex-4');
      let q1 = document.querySelector('.question1');
      let q2 = document.querySelector('.question2');
      let q3 = document.querySelector('.question3');
      let q4 = document.querySelector('.question4');
      let plus1 = document.querySelector('.plus1');
      let plus2 = document.querySelector('.plus2');
      let plus3 = document.querySelector('.plus3');
      let plus4 = document.querySelector('.plus4');
      let answer1 = document.querySelector('.answer1');
      let answer2 = document.querySelector('.answer2');
      let answer3 = document.querySelector('.answer3');
      let answer4 = document.querySelector('.answer4');

      faq_flex_1.onclick = function(){
        plus1.classList.toggle('plus-active');
        plus1.classList.toggle('plus-passive');
        answer1.classList.toggle('answer-passive');
        q1.ariaExpanded = !JSON.parse(q1.ariaExpanded);
      }

      faq_flex_2.onclick = function(){
        plus2.classList.toggle('plus-active');
        plus2.classList.toggle('plus-passive');
        answer2.classList.toggle('answer-passive');
        q2.ariaExpanded = !JSON.parse(q2.ariaExpanded);
      }

      faq_flex_3.onclick = function(){
        plus3.classList.toggle('plus-active');
        plus3.classList.toggle('plus-passive');
        answer3.classList.toggle('answer-passive');
        q3.ariaExpanded = !JSON.parse(q3.ariaExpanded);
      }

      faq_flex_4.onclick = function(){
        plus4.classList.toggle('plus-active');
        plus4.classList.toggle('plus-passive');
        answer4.classList.toggle('answer-passive');
        q4.ariaExpanded = !JSON.parse(q4.ariaExpanded);
      }

    </script>

    <script>
      function myFunction() {
      var x = document.getElementById("question1").getAttribute("aria-expanded"); 
      if (x == "true") 
      {
      x = "false"
      } else {
      x = "true"
      }
      document.getElementById("question1").setAttribute("aria-expanded", x);
      }
    </script>



    <script>
        const observer = new IntersectionObserver(entries => {
        // перебор записей
        entries.forEach(entry => {
            // если элемент появился
            if (entry.isIntersecting) {
              // добавить ему CSS-класс
              entry.target.classList.add('zagolovok-animation');
              var delayInMilliseconds = 4500; 

              setTimeout(function() {
                  entry.target.classList.add('zagolovok-success');
              }, delayInMilliseconds);
            }
          });
        });
        observer.observe(document.querySelector('.zagolovok'));
    </script>

  </body>
</html>