<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Logo -->
		<link href="static/images/logo.ico" rel="shortcut icon">

		<!-- FontAwesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- Static CSS -->
		<link href="static/css/ofertacss.css" rel="stylesheet"/>

		<title>Договор оферты TG-Tech.ru</title>
	</head>
	<body>

		<b class='title'>ПУБЛИЧНАЯ ОФЕРТА интернет-магазина TG-TECH.RU для физических и юридических лиц.</b>
		<p class="redaction">(редакция от 1 августа 2020г.)</p>
		<br>
		<b>1. Термины и определения</b>
		<br><br>
		<p>Используемые ниже термины следует трактовать согласно настоящему разделу. При отсутствии соответствующего термина с определением в настоящем разделе термины трактуются согласно законодательству РФ.
		<br>
		<br><b>1.1.</b> Продавец – ИП Терентьев Василий Александрович;
		<br><b>1.2.</b> Сайт – интернет-сайт доступный по адресу: TG-TECH.RU, включая поддомены, а также программное обеспечение, представленное на интернет-сайте;
		<br><b>1.3.</b> Посетитель – лицо, просматривающее Сайт без цели регистрации и (или) Заказа;
		<br><b>1.4.</b> Пользователь - посетитель Сайта, завершивший процедуру регистрации на Сайте и принявший условия Оферты;
		<br><b>1.5.</b> Покупатель - Пользователь, который оформил Заказ;
		<br><b>1.6.</b> Товар —товары и услуги, представленные в каталоге на Сайте;
		<br><b>1.7.</b> Заказ — сформированный на Сайте Покупателем запрос на покупку Товаров для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности, содержащий количество, ассортимент и комплектность Товара.</p>
		<br>
		<b>2. Общие положения. Предмет публичной оферты</b>
		<br><br>
		<p><b>2.1.</b> Продавец предлагает сделать Заказ на изложенных ниже условиях. Условия являются публичной офертой в соответствии со статьей 437 Гражданского кодекса Российской Федерации (далее — «Оферта»). Предложение распространяется на все виды Товара, пока Товар с описанием присутствует на Сайте.</p>
		<br>
		<b>3. Акцепт оферты. Изменение оферты</b>
		<br><br>
		<p><b>3.1.</b> Акцепт Оферты (заключение договора розничной купли-продажи и(или) договора оказания услуг) (далее – «Договор») происходит в момент Заказа.
		<br><b>3.2.</b> Договор считается заключенным с момента предоставления Покупателю кассового или товарного чека, либо иного документа, подтверждающего оплату Товара.
		<br><b>3.3.</b> Покупатель соглашается с тем, что Продавец может поручить исполнение Договора третьим лицам, но при этом Продавец самостоятельно несет ответственность за исполнение Договора. Все права и обязательства перед Покупателем по Договору возникают непосредственно у Продавца.
		<br><b>3.4.</b> Продавец может в любой момент изменить условия Оферты в одностороннем порядке без предварительного уведомления. Новая редакция Оферты действительна с момента ее опубликования на Сайте.</p>
		<br>
		<b>4. Условия о товаре. Порядок оформления заказа</b>
		<br><br>
		<p><b>4.1.</b> Чтобы оформить Заказ Покупатель добавляет Товар «В корзину» на Сайте, заполняет форму (ФИО, телефон, e-mail, адрес доставки, способ доставки) и нажимает на кнопку «Подтвердить заказ». После чего Заказ считается оформленным.
		<br><b>4.2.</b> После оформления Заказа на Сайте, Покупателю направляется автоматическое электронное сообщение по адресу электронной почты, указанному Покупателем при оформлении Заказа.
		<br><b>4.3.</b> При необходимости Продавец, уточняет детали Заказа, согласовывает дату доставки Заказа по электронной почте и (или) телефону. Дата доставки зависит от наличия Товара на складе Продавца и времени, необходимого для обработки и доставки Заказа.
		<br><b>4.4.</b> Ожидаемая дата доставки Заказа сообщается Покупателю по электронной почте или при контрольном звонке Покупателю. Дата передачи Товара может быть изменена Продавцом в одностороннем порядке в случае наличия непредвиденных обстоятельств, произошедших не по вине Продавца.
		<br><b>4.5.</b> Покупатель несет ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
		<br><b>4.6.</b> Фотографии, сопровождающие Товар, являются простыми иллюстрациями к Товару и могут отличаться от фактического внешнего вида Товара. Описания и(или) характеристики Товара не претендуют на исчерпывающую информативность и могут содержать опечатки. Для уточнения информации о Товаре Покупатель может обратиться к Продавцу доступными на Сайте способами.
		<br><b>4.7.</b> Продавец обеспечивает наличие Товара, представленного на Сайте. Если Товар отсутствует в наличии, он недоступен на Сайте и кнопка «В корзину» становится неактивной.
		<br><b>4.8.</b> При отсутствии заказанного Покупателем Товара на складе Продавца, последний вправе исключить Товар из Заказа или аннулировать Заказ Покупателя. В таком случае Продавец уведомляет Покупателя электронным письмом по адресу, указанному Покупателем при регистрации либо звонком по телефону.
		<br><b>4.9.</b> В случае аннулирования полностью либо частично предоплаченного Заказа стоимость аннулированного Товара возвращается Покупателю способом, которым Товар был оплачен.</p>
		<br>
		<b>5. Порядок доставки товара. Территория доставки товара</b>
		<br><br>
		<p><b>5.1.</b> Способы и ориентировочные сроки доставки Товара, реализуемого Продавцом, указаны на Сайте в разделе «Доставка». Конкретные сроки доставки могут быть дополнительно согласованы сторонами при подтверждении Заказа.
		<br><b>5.2.</b> Территория доставки Товаров, представленных на Сайте и реализуемых Продавцом, ограничена пределами Российской Федерации. Доставка за пределы Российской Федерации возможна в индивидуальном порядке по договоренности с Продавцом.
		<br><b>5.3.</b> Стоимость доставки за пределы Российской Федерации зависит от тарифов курьерских служб и веса Заказа, сообщается Покупателю индивидуально и осуществляется только по полной предоплате Заказа.
		<br><b>5.4.</b> Товар вручается Покупателю либо третьему лицу, указанному в Заказе в качестве получателя (далее - «Получатель»). При невозможности получения Заказа, оплаченного посредством наличного расчета, Получателем, Заказ может быть вручен третьим лицам, которые предоставят сведения о Заказе (номер отправления и/или ФИО Получателя), а также могут оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
		<br><b>5.5.</b> Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональных данных Получателя.
		<br><b>5.6.</b> Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Заказа и проставления Получателем Заказа подписи в документах, подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Покупателю стоимость предоплаченного Покупателем Заказа и доставки в полном объеме после получения от службы доставки подтверждения утраты Заказа.
		<br><b>5.7.</b> Обязанность Продавца передать Товар Покупателю считается исполненной в момент вручения Товара Получателю или после подтверждения получения Товара Получателем в заранее оговоренном месте выдачи Заказа (в том числе в пункте самовывоза).
		<br><b>5.8.</b> При принятии Товара от курьера Получатель обязан осмотреть Товар и проверить его на соответствие Заказу, проверить срок службы Товара, целостность упаковки. В случае отсутствия претензий к доставленному Товару Получатель расписывается в «Бланке доставки заказов» либо ином аналогичном документе, предоставляемом курьером, и оплачивает Заказ (в случае отсутствия полной предоплаты). Подпись в сопроводительных документах свидетельствует о том, что претензий к Товару не заявлено, Продавец полностью и надлежащим образом выполнил свою обязанность по передаче Товара.
		<br><b>5.9.</b> Время нахождения курьеров, доставляющих товар, реализуемый Продавцом, по адресу Получателя ограничено 15 минутами.
		<br><b>5.10.</b> Уточнить дату, время и при необходимости маршрут доставки, можно у Продавца.
		<br><b>5.11.</b> Осуществление доставки – это отдельная услуга, не являющаяся неотъемлемой частью Товара, выполнение которой заканчивается в момент получения Получателем Товара.
		<br><b>5.12.</b> Претензии к качеству приобретенного Товара, возникшие после получения и оплаты Товара, рассматриваются в соответствии с Законом РФ «О защите прав потребителей».</p>
		<br>
		<b>6. Оплата товара</b>
		<br><br>
		<p><b>6.1.</b> Цена Товара указывается на Сайте в рублях Российской Федерации.
		<br><b>6.2.</b> При неверном указании цены Товара на Сайте, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если оплаченный Заказ был аннулирован, то Продавец вернет Покупателю оплаченную сумму тем же способом, которым она была уплачена.
		<br><b>6.3.</b> Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит.</p>
		<br>
		<b>7. Особенности оплаты с помощью банковских карт:</b>
		<br><br>
		<p><b>7.1.</b> В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
		<br><b>7.2.</b> Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции.
		<br><b>7.3.</b> Чтобы избежать неправомерного использования банковских карт при оплате Товара, Продавец проверяет Заказы, предоплаченные банковской картой. В целях проверки личности владельца и его правомочности на использование карты Продавец вправе потребовать от Покупателя предъявления документа, удостоверяющего личность.
		<br><b>7.4.</b> Продавец вправе предоставлять скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления определяются Продавцом и указываются на Сайте.</p>
		<br>
		<b>8. Возврат товара</b>
		<br><br>
		<p><b>8.1.</b> Возврат Товара осуществляется в соответствии с законодательством Российской Федерации.</p>
		<br>
		<b>9. Ответственность</b>
		<br><br>
		<p><b>9.1.</b> Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретенных на Сайте.</p>
		<br>
		<b>10. Конфиденциальность и защита персональных данных</b>
		<br><br>
		<p><b>10.1.</b> Продавец обрабатывает персональные данные согласно Федеральному закону № 152-ФЗ «О персональных данных».
		<br><b>10.2.</b> Подробнее о том, какую информацию Продавец собирает, о порядке обработки, порядке защиты информации Продавцом подробно указано в политике в отношении обработки персональных данных (Политике конфиденциальности).
		<br><b>10.3.</b> Политика конфиденциальности размещается в неограниченном доступе в футере Сайта и доступна на Сайте по адресу: tg-tech.ru/politica.
		<br><b>10.4.</b> Совершая акцепт Оферты в порядке, указанном в разделе 3 Оферты и согласно статье 15 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных» Покупатель дает свое согласие на обработку персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи. Акцепт Оферты является подтверждением факта получения Продавцом согласия.
		<br><b>10.5.</b> Продавец не несет ответственности за сведения, предоставленные Пользователем на Сайте в общедоступной форме.
		<br><b>10.6.</b> В целях улучшения качества обслуживания Продавец может осуществлять запись телефонных разговоров. Продавец предотвращает попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и не передает такую информацию третьим лицам, не имеющим непосредственного отношения к Продавцу.</p>
		<br>
		<b>11. Заключительные положения</b>
		<br><br>
		<p><b>11.1.</b> Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
		<br><b>11.2.</b> Сайт и предоставляемые сервисы могут быть временно (частично или полностью) недоступны по причине проведения профилактических или иных работ, или по любым другим причинам технического характера.
		<br><b>11.3.</b> В случае возникновения вопросов и претензий необходимо обратиться к Продавцу по телефону или иным доступным способом. Все возникающее споры разрешаются путем переговоров, а при недостижении соглашения спор рассматривается в суде согласно законодательству РФ.
		<br><b>11.4.</b> Признание судом недействительности какого-либо положения Оферты не влечет за собой недействительность остальных положений.</p>
		<br>
		<b>12. Реквизиты продавца</b>
		<br><br>
		<p><b>12.1.</b> Наименование: ИП Терентьев В.А..
		<br><b>12.2.</b> Юридический адрес: Российская Федерация, 129336, г. Москва, ул. Малыгина, дом 14, кор.2, кв. 138
		<br><b>12.3.</b> ИНН: 771619286304
		<br><b>12.4.</b> р/с: 40802810538000197256
		<br><b>12.5.</b> Банк: ПАО Сбербанк
		<br><b>12.6.</b> к/с: 30101810400000000225
		<br><b>12.7.</b> БИК: 044525225</p>

	</body>
</html>