<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Logo -->
    <link href="static/images/logo.ico" rel="shortcut icon">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Static CSS -->
    <link href="static/css/caseunitcss.css" rel="stylesheet"/>

    <title>Кейс «Посылочка»</title>
  </head>
  <body>
    <div class="upper">
      <a type='button' href="https://tg-tech.ru" class='home-upper neon-text'>Главная страница</a>
      <a type='button' href="https://tg-tech.ru/#chatbot" class="chatbot-upper neon-text">Чат-боты</a>
      <a type='button' href="https://tg-tech.ru/#solutions" class="for-business-upper neon-text">Для бизнеса</a>
    </div>

    <div class="title-and-photo">
      <div class="case-title-and-main-text">
        <h1 class="case-title neon-text">Как сократить расходы до 100 тыс руб. в месяц и увеличить число заявок на 21%</h1>
        <h2 class="case-main-text neon-text">Расскажем, как компания «Посылочка», интегрировав чат-бота, смогла решить сразу две проблемы:<br><br>- Сократила время ожидания клиентов ответа в онлайн чате с 5 минут до 0.1 сек.<br><br>- Оптимизировала расходы на онлайн консультантов до 100 000 руб. в месяц.</h2>
      </div>
      <a type="button" onclick="click_left()"><i class="fas fa-circle-arrow-left neon-text edge-button"></i></a>
      <img class='iphone' src="static/images/iphone.png">
      <img class='screen screen_posylochka_1 active' src="static/images/screen_posylochka_1.jpg">
      <img class='screen screen_posylochka_2' src="static/images/screen_posylochka_2.jpg">
      <img class='screen screen_posylochka_3' src="static/images/screen_posylochka_3.jpg">
      <img class='screen screen_posylochka_4' src="static/images/screen_posylochka_4.jpg">
      <img class='screen screen_posylochka_5' src="static/images/screen_posylochka_5.jpg">
      <img class='screen screen_posylochka_6' src="static/images/screen_posylochka_6.jpg">
      <img class='screen screen_posylochka_7' src="static/images/screen_posylochka_7.jpg">
      <img class='screen screen_posylochka_8' src="static/images/screen_posylochka_8.jpg">
      <img class='screen screen_posylochka_9' src="static/images/screen_posylochka_9.jpg">
      <img class='screen screen_posylochka_10' src="static/images/screen_posylochka_10.jpg">
      <a type="button" onclick="click_right()"><i class="fas fa-circle-arrow-right neon-text"></i></a>
    </div>

    <div class="info-problem">
      <div class="case-info-block">
        <h2 class="case-info-title neon-text">О компании</h2>
        <h2 class="case-info-text neon-text">«Посылочка» - проверенная временем компания, которая находится на рынке более 5 лет. Занимаясь доставкой товаров из ЕС, «Посылочка» не раз доказывала свою эффективность. Также очень важно отметить, что компания даже в условии санкций продолжает свою работу. </h2>
      </div>

      <div class="case-problem-block">
        <h2 class="case-problem-title neon-text">Проблема</h2>
        <h2 class="case-problem-text neon-text">Ежедневно в онлайн-чат и мессенджеры компании приходили вопросы от клиентов. Обилие каналов коммуникации и количество вопросов не позволяло менеджерам оперативно реагировать на сообщения, что неминуемо приводило к потере потенциальных клиентов.<br><br>Руководство компании обратилось к специалистам TG-Tech с просьбой помочь автоматизировать поддержку в онлайн-чате, интегрировав чат-бот телеграмм.</h2>
      </div>
    </div>

    <div class="functionality">
      <h1 class='functionality-main-title neon-text'>Функционал</h1>
      <div class="functionality-block">
        <div class="functionality-title neon-text"><i class='fas fa-circle-chevron-right'></i>&nbsp;&nbsp;Отзывы покупателей</div>
        <div class="functionality-text neon-text">Вы можете оценить работу компании с помощью свыше 200 представленных отзывов!</div>
      </div>
      <div class="functionality-block">
        <div class="functionality-title neon-text"><i class='fas fa-circle-chevron-right'></i>&nbsp;&nbsp;Вопросы/Ответы</div>
        <div class="functionality-text neon-text">Чат-бот в полной мере отвечает на все часто задаваемые вопросы пользователей</div>
      </div>
      <div class="functionality-block">
        <div class="functionality-title neon-text"><i class='fas fa-circle-chevron-right'></i>&nbsp;&nbsp;Аналитика пользователей</div>
        <div class="functionality-text neon-text">Бот беспрерывно собирает статистику нажатий пользователей на ту или иную кнопку, что позволяет оптимизировать его работу.</div>
      </div>
    </div>

    <div class="decision-summary">
      <div class="case-decision-block">
        <h2 class="case-decision-title neon-text">Решение</h2>
        <h2 class="case-decision-text neon-text">После диалога с клиентом и предоставления ими технического задания, учитывая реальные возможности и необходимый функционал, наша команда начала разработку бота. На его создание ушло около 7 дней, итоговое тестирование и внедрение заняли ещё 2 дня. Таким образом, бот был готов спустя 9 дней.</h2>
      </div>

      <div class="case-summary-block">
        <h2 class="case-summary-title neon-text">Вывод</h2>
        <h2 class="case-summary-text neon-text">Количество входящих запросов снизилось, ввиду возможности узнать актуальную информацию через чат-бота. Таким образом, менеджеры стали отвечать только целевым клиентам, что снизило их нагрузку и повысило итоговую конверсию с каждого звонка.</h2>
      </div>
    </div>

    <div class="box" id='form'>
      <form action='form.php' method="POST" autocomplete="off" novalidate>
        <h2 class="neon-text">Заполните форму, и мы свяжемся с Вами в ближайшее время</h2>
        <div class="inputBox">
          <input type="text" id='username' name='username' required="required">
          <span>Имя</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="text" id='phone_number' name='phone_number' required="required">
          <span>Телефон</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input id='email' name='email' required="required">
          <span>Электронная почта</span>
          <i></i>
        </div>
        <input name='submitButton' type="submit" value="Подать заявку">
      </form>
    </div>

    <div class="form-text-nearby neon-text">
      <h2 class="form-title">Готовы пообщаться?</h2>
      <h2 class="form-text1">Закажите разработку собственного бота и запустите автоматизацию бизнес-процессов прямо сейчас!</h2>
      <h2 class="form-text2">Бот увеличит продажи, сократит затраты на менеджеров и возглавит поддержку Ваших клиентов в Telegram.</h2>
    </div>

    <div class="footer">
      <p class="logo-footer neon-text">© TG-Tech, 2020</p>
      <a type='button' href="https://tg-tech.ru/oferta.html" class='oferta neon-text'>Публичная оферта</a>
      <a type='button' href="https://tg-tech.ru/#chatbot" class="chatbot-footer neon-text">Чат-боты</a>
      <a type='button' href="https://tg-tech.ru/#solutions" class="for-business-footer neon-text">Для бизнеса</a>
    </div>

    <script>
      let arrow_left = document.querySelector('.fa-circle-arrow-left');
      let arrow_right = document.querySelector('.fa-circle-arrow-right');
      let screen_posylochka_1 = document.querySelector('.screen_posylochka_1');
      let screen_posylochka_2 = document.querySelector('.screen_posylochka_2');
      let screen_posylochka_3 = document.querySelector('.screen_posylochka_3');
      let screen_posylochka_4 = document.querySelector('.screen_posylochka_4');
      let screen_posylochka_5 = document.querySelector('.screen_posylochka_5');
      let screen_posylochka_6 = document.querySelector('.screen_posylochka_6');
      let screen_posylochka_7 = document.querySelector('.screen_posylochka_7');
      let screen_posylochka_8 = document.querySelector('.screen_posylochka_8');
      let screen_posylochka_9 = document.querySelector('.screen_posylochka_9');
      let screen_posylochka_10 = document.querySelector('.screen_posylochka_10');

      function click_right() {
        let active_screen = document.querySelector('.active');
        if (active_screen.classList.contains("screen_posylochka_1")) {
          screen_posylochka_1.classList.remove('active');
          screen_posylochka_2.classList.add('active');
          arrow_left.classList.remove('edge-button');
          arrow_left.style.cursor = 'pointer';
        } else if (active_screen.classList.contains("screen_posylochka_2")) {
          screen_posylochka_2.classList.remove('active');
          screen_posylochka_3.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_3")) {
          screen_posylochka_3.classList.remove('active');
          screen_posylochka_4.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_4")) {
          screen_posylochka_4.classList.remove('active');
          screen_posylochka_5.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_5")) {
          screen_posylochka_5.classList.remove('active');
          screen_posylochka_6.classList.add('active')
        } else if (active_screen.classList.contains("screen_posylochka_6")) {
          screen_posylochka_6.classList.remove('active');
          screen_posylochka_7.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_7")) {
          screen_posylochka_7.classList.remove('active');
          screen_posylochka_8.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_8")) {
          screen_posylochka_8.classList.remove('active');
          screen_posylochka_9.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_9")) {
          screen_posylochka_9.classList.remove('active');
          screen_posylochka_10.classList.add('active');
          arrow_right.style.cursor = 'default';
          arrow_right.classList.add('edge-button');

        } 
      }

      function click_left() {
        let active_screen = document.querySelector('.active');
        
        if (active_screen.classList.contains("screen_posylochka_2")) {
          screen_posylochka_2.classList.remove('active');
          screen_posylochka_1.classList.add('active');
          arrow_left.style.cursor = 'default';
          arrow_left.classList.add('edge-button');
        } else if (active_screen.classList.contains("screen_posylochka_3")) {
          screen_posylochka_3.classList.remove('active');
          screen_posylochka_2.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_4")) {
          screen_posylochka_4.classList.remove('active');
          screen_posylochka_3.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_5")) {
          screen_posylochka_5.classList.remove('active');
          screen_posylochka_4.classList.add('active')
        } else if (active_screen.classList.contains("screen_posylochka_6")) {
          screen_posylochka_6.classList.remove('active');
          screen_posylochka_5.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_7")) {
          screen_posylochka_7.classList.remove('active');
          screen_posylochka_6.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_8")) {
          screen_posylochka_8.classList.remove('active');
          screen_posylochka_7.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_9")) {
          screen_posylochka_9.classList.remove('active');
          screen_posylochka_8.classList.add('active');
        } else if (active_screen.classList.contains("screen_posylochka_10")) {
          screen_posylochka_10.classList.remove('active');
          screen_posylochka_9.classList.add('active');
          arrow_right.style.cursor = 'pointer';
          arrow_right.classList.remove('edge-button');
        }
      }

    </script>
  </body>
</html>